@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>We are a small locally-owned startup providing high quality beverage distribution services to the South West Mchigan area. 
    Started in April of 2017 we are looking to expand our influence ouside of our current range. If you have businees inquiries or 
    questions about please feel free to visit our contact page and send us an email or give us a call.</p>
