@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title Informaion</h2>
<h3>@ViewBag.Message</h3>

<address>
    Evan Schober CEO<br />
    4424 Owen Lane<br />
    Grand Rapids, MI 49503<br />
    <abbr title="Phone">P:</abbr>
    231-931-4744
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:contact.rustynail@maildrop.cc">Contact.RustyNail@maildrop.cc</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing.rustynail@maildrop.cc">Marketing.RustyNail@maildrop.cc</a>
</address>