@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rusty Nail Distributing</h1>
    <p class="lead">The premier beverage distributor for South West Michigan.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Legitmacy</h2>
        <p>
            Est. 2017 We've been distributing beverages on the internet for a total of about a week. If you'd like to order beverages
            from a reputable distributor with a long running history please click the button below.
        </p>
        <p><a class="btn btn-default" href="http://www.pawpawwine.com/home.html">Paw Paw Wine &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Setup</h2>
        <p>This site was created using ASP.net code. To learn more about this web framework, consider clicking the link below. </p>
        <p><a class="btn btn-default" href="https://www.asp.net/">Learn more &raquo;</a></p>
    </div>
</div>